:root {
    --text-color-main: #000;
    --background-color-main: #a0a0a0;
    --table-head-color: #00FFFF;
    --table-body-color: #98FB98;
    --button-primary-color: #FFA500;
    --button-secondary-color: #0000FF;
    --input-border-color: #008080;
    --footer-background-color: #02172a;
    --footer-text-color: rgb(255 255 255 / 40%);
    --accent-color: #ff6b09;
}