@import '../../styles/main.scss';

.title {
    text-align: center;
    margin-bottom: 30px;
}

.text {
    margin-bottom: 10px;
}

.list {
    margin-bottom: 10px;
    // list-style-type: decimal;
}

.item {
    margin-bottom: 10px;
}