@import '../../styles/main.scss';

footer {
    padding: 10px 0;

    font-weight: bold;
    font-size: 14px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    margin-top: 50px;

    color: var(--footer-text-color);
    background-color: var(--footer-background-color);
}

.footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 30px;
}